<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>49297221110-82j12d2d3lcv7vkkj303rp5e4gk5gfkq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49297221110-82j12d2d3lcv7vkkj303rp5e4gk5gfkq</string>
	<key>API_KEY</key>
	<string>AIzaSyDV9mM-MZPDKq_ZvGZwL9J54jaJCm5F0Co</string>
	<key>GCM_SENDER_ID</key>
	<string>49297221110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.doggieWalker.app</string>
	<key>PROJECT_ID</key>
	<string>dog-walk-226c8</string>
	<key>STORAGE_BUCKET</key>
	<string>dog-walk-226c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49297221110:ios:884a64c76b1547495413d7</string>
</dict>
</plist>